.card-hover {
  transition: all 0.8s ease;
  &:hover {
    transform: scale(1.05); /* Increase card size */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    transition: all 0.5s ease-in-out; /* Smooth transition */
  }
}

.card {
  margin-top: 20px;
  width: 300px;
  transition: all 0.3s ease;
  background-color: #ffe4e1; /* Màu hồng nhạt cho thẻ */

  &:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Hover shadow */
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.price-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.1rem;

  .text-muted {
    margin-right: 8px;
    font-size: 1rem;
  }

  .text-success {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 8px;
}

.btn-hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 20px;
  background-color: #ffb6c1; /* Màu hồng nhạt cho nút */

  &:hover {
    background-color: #ff69b4; /* Màu hồng đậm hơn khi hover */
    color: #fff; /* White text on hover */
    border-color: #483e3e; /* White border on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow */
    transform: translateY(-3px); /* Slightly move up on hover */
  }
}

.modal-content {
  background-color: #ffe4e1; /* Màu hồng nhạt cho modal */
  border-radius: 15px;
  padding: 10px;
}

.modal-header {
  background-color: #ff1493; /* Màu hồng đậm cho tiêu đề modal */
  color: #fff;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .modal-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.cart-item-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-item-details {
  text-align: left;
  flex-grow: 1;
}

.cart-item-total {
  font-weight: bold;
  white-space: nowrap;
}

.quantity-input {
  width: 60px;
  text-align: center;
}

.modal-footer .btn-primary {
  background-color: #ff69b4; /* Màu hồng cho nút chính */
  border-color: #894B9C;
  padding: 15px 35px;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #ff1493; /* Màu hồng đậm hơn khi hover */
    border-color: #ff1493;
  }
}

.modal-footer .btn-secondary {
  padding: 15px 35px;
  border-radius: 30px;
}

h5 {
  font-weight: bold;
  color: #e91e63; /* Pink for headings */
}
